body {
    background-image: url("./images/Paisley.png");
    background-size: 250px;
    background-repeat: repeat;
    background-color: #0C0636;
    text-align: center;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 65px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15% 25px 25% 25px;
}